/target
/.classpath
/.project
/.settings

/xproject-base/.settings
/xproject-base/target
/xproject-base/.classpath
/xproject-base/.project

/xproject-common/.settings
/xproject-common/target
/xproject-common/.classpath
/xproject-common/.project

/xproject-iface/.settings
/xproject-iface/target
/xproject-iface/.classpath
/xproject-iface/.project

/xproject-service/.settings
/xproject-service/target
/xproject-service/.classpath
/xproject-service/.project

/xproject-admin/.settings
/xproject-admin/target
/xproject-admin/.classpath
/xproject-admin/.project
